@{
    ViewBag.Title = "Home Page";
}

<div id="home">
    <div class="row">
        <select data-bind="options: availableCurrencies, value: selectedSource"></select>
        <select data-bind="options: availableCurrencies, value: selectedTarget"></select>
        <button data-bind="click: showData">Show data</button>
    </div>
</div>