@{
    ViewBag.Title = "Home Page";
}

@section scripts{
    @Html.Raw("require(['home/index'])");
}

<div id="home">
    <h2>Exchange rates</h2>
    <div class="row">
        <select data-bind="options: availableCurrencies, value: selectedSource, visible: isLoaded"></select>
        <select data-bind="options: availableCurrencies, value: selectedTarget, visible: isLoaded"></select>
        <button data-bind="click: showData, visible: isLoaded">Show data</button>
        <span data-bind="text: status"></span>
    </div>
    <div id="chart"></div>
    <div id="legend_container">
        <div id="smoother" title="Smoothing"></div>
        <div id="bootstrap-overrides-legend"></div>
    </div>

</div>